@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

.profile-photo {
    display: block;
    margin: 20px auto;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.title {
    font-size: 1.2em;
    color: #777;
    margin-top: 0;
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-top: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

.skills-container {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.skills-wrapper {
    display: flex;
    will-change: transform;
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.skill {
    text-align: center;
    flex: 0 0 150px;
    transition: transform 0.3s ease;
}

.skill img {
    width: 50px;
    transition: transform 0.3s ease;
}

.skill img:hover {
    transform: scale(1.1);
}

.skill:hover p {
    color: #1d4ed8;
}

a {
    color: #1d4ed8;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #1e3a8a;
    text-decoration: underline;
}

.contact div {
    margin-bottom: 10px;
}
